<div class="row">
    <div class="col-md-2 mb-5 animate__animated animate__fadeIn " *ngFor="let pokemon of pokemons">

       <h3 class="text-center"> {{pokemon.id}} </h3>

      <div class="poster">
        <img [src]="pokemon.id | thumbnail"
        class="img-fluid"
        (click)="onPokemonClick( pokemon )">
      </div>
        
        <div class="mt-2">
           
            <h3 class="subtitle text-center">
                {{ pokemon.name.english }}
            </h3>
           
            <div class="text-center mt-3">
                <span *ngFor="let type of pokemon.type" class="type">{{type}}</span>
            </div>

        </div>

    </div>
</div>
